!!!
%html
  %head
    %title Lastminute
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class => params[:controller]}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            - 3.times do
              %span.icon-bar
          %a.brand{:href => '/'}
            LastDeal
          .nav-collapse
            %ul.nav
              -%w(home link1 link2 link3).each do |link|
                %li
                  %a=link
            =form_for :search, :html => {:class => 'navbar-search pull-left'} do |f|
              =f.text_field :q, {:class => 'search-query span2', :placeholder => 'Search'}
            %ul.nav.pull-right
              = render 'shared/navigation'

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "alert alert-#{name}" if msg.is_a?(String)
      .row
        = yield
